<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('app.css') }}">
    {% endblock %}

    <link rel="icon" href="{{ asset('img/logo.png') }}">
</head>
<body>
<div class="container">
    <header>
        <a href="{{ path('home') }}" title="Retour à l'accueil" class="logo"><img src="{{ asset('img/logo.png') }}" alt="logo chatons.com">chatons.com</a>
        <form id="search-form">
            <label for="keyword">Rechercher</label>
            <input type="search" id="keyword" name="keyword">
            <div id="results">
                <a href="#">Gaston</a>
                <a href="#">Guy</a>
            </div>
        </form>
        <nav>
            <a href="#" class="cart-link" title="Voir mon panier"><img src="{{ asset('img/cart.png') }}" alt="Panier"></a>
        </nav>
    </header>
    <main>
        {% block body %}{% endblock %}
    </main>
    <footer>
        <div>&copy; {{ "now"|date("Y") }} chatons.com</div>
        <div>Logo made by <a href="https://smashicons.com/" title="Smashicons">Smashicons</a></div>
    </footer>
</div>
{% block javascripts %}{% endblock %}
</body>
</html>
