<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('app.css') }}">
    {% endblock %}

    <link rel="icon" href="{{ asset('img/logo.png') }}">
</head>
<body>
<div class="container">
    <header>
        <a href="{{ path('home') }}" title="{% trans %}go.back.home{% endtrans %}" class="logo"><img src="{{ asset('img/logo.png') }}" alt="logo chatons.com">chatons.com</a>
        <form id="search-form" action="{{ url('api_cats_search') }}">
            <label for="keyword">{% trans %}search{% endtrans %}</label>
            <input type="search" id="keyword" name="keyword">
            <div id="results"></div>
        </form>
        <nav>
            {% if app.user %}
                <a href="{{ path('app_logout') }}">Déconnexion</a>
                <a href="{{ path('cart_display', {'id': app.user.getActiveCart().id}) }}" class="cart-link" title="Voir mon panier"><img src="{{ asset('img/cart.png') }}" alt="Panier"></a>
            {% else %}
                <a href="{{ path('app_login') }}">Connexion</a>
                <a href="{{ path('app_register') }}">Créer mon compte</a>
            {% endif %}
        </nav>
    </header>

    {# read and display all flash messages #}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="flash flash-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <main>
        {% block body %}{% endblock %}
    </main>
    <footer>
        <div><a href="{{ path('admin_cat_create') }}">Ajouter un chaton</a></div>
        <div>&copy; {{ "now"|date("Y") }} chatons.com</div>
        <div>Logo made by <a href="https://smashicons.com/" title="Smashicons">Smashicons</a></div>
    </footer>
</div>
{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="{{ asset('js/app.js') }}"></script>
{% endblock %}
</body>
</html>
